.contentt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    gap: 20px;
    
}
.side1Containerr{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
   width: 52%;
      border-radius: 24px;

}
h2{
    color: white;
    margin-top: 24px;
}
.comment{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.comment h1{
    font-weight: 700;
    font-size: 1.5rem;  
}
.comment p{
    color: hsla(241, 100%, 89%, 0.712);
    font-weight: 600;
    font-size: 18px;
   padding: 0;
}
